<section class="hero">
  <div class="hero-body">
    <p class="title hero-title">
      EventNite
    </p>
    <p class="subtitle">
      An event management service built on Rails 7.0
    </p>
  </div>
</section>
<section class="content">
  <div class="box">
    Site features usage of <a href="https://github.com/heartcombo/simple_form">Simple Form for Rails</a> for simple form creation,<br>
    <a href="https://github.com/heartcombo/devise">Devise</a> for user authentication and <br>
    The <a href="https://bulma.io">Bulma</a> library for styling
  </div>
  <div class="box">
    Created by Jeroen Brinkhorst as part of The Odin Project. <br>
    For full site functionality, you can login with <i>odin@example.com</i> and <i>Testing</i>
  </div>
</section>
