<div class="section">
  <div class="columns is-centered">
    <div class="column is-four-fifths">
      <h1 class="title">Your Tickets</h1>
      <div class="tickets">
        <div class="grid-container">
          <% @tickets.each do |ticket| %>
            <span><%= render ticket %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>