<div id="<%= dom_id event %>">
  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>UserData:</strong>
    <%= event.host.email %>
  </p>

</div>
