<div class="section" >
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <!-- back button, top left -->

        <%= link_to events_path, class: "txt-orangered is-size-7" do%>
          <b>Back to Events</b>
        <% end %>
        <%= render "form", event: @event %>
      </div>
    </div>
  </div>
</div>