/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";
 @import "variables";

 body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
 }

 .secondary-txt {
   color: $orangered;
 }

 body > footer {
   margin-top: auto;
   padding: 1.5rem;
   background-color: $white-ish;
 }

 .notification:not(:last-child) {
	margin-bottom: 0;
  animation: moveout 1s 1s ease forwards;
  position: absolute;
  width: 100vw;
  z-index: 31;
  }

  @keyframes moveout {
    from { top: 0px; }
    to   { top: -4rem; }
  }

  .txt-orangered {
    color: orangered;
  }

  .txt-blackish {
    color: $black-ish;
  }

  .hero-title {
    color: $primary;
  }