/* SASS Doc for the main header */
@import "variables";

#top-left-title {
  color: $primary;
}

nav.navbar {
  height: 72px;
}

#dd:hover {
  background-color: $highlight;
}
.dropdown:hover .dropdown-menu {display: block;}
.dropdown-content p:hover {background-color: #ddd;}
.dropdown-trigger > button { border: 0; }

#dropdown-div {
  padding: 16px 7px;
}